@import "tailwindcss";

@theme {
  --color-neon-pink: #FF007A;
  --color-neon-cyan: #00F0FF;
  --color-deep-space: #0D0D0D;
}

:root {
  --text: #9ca3af;
  --text-h: #f3f4f6;
  --bg: #0D0D0D;
  --accent-pink: #FF007A;
  --accent-cyan: #00F0FF;
}

body {
  @apply bg-deep-space text-[#9ca3af] min-h-screen font-sans antialiased;
}

/* Estilização Customizada Anime Cybercore */
.neon-pink {
  text-shadow: 0 0 5px #FF007A, 0 0 10px #FF007A;
}

.neon-cyan {
  text-shadow: 0 0 5px #00F0FF, 0 0 10px #00F0FF;
}

.border-neon-pink {
  box-shadow: 0 0 5px #FF007A;
  border: 1px solid #FF007A;
}

.border-neon-cyan {
  box-shadow: 0 0 5px #00F0FF;
  border: 1px solid #00F0FF;
}
